@model List<LibraryManagementSystem.Models.Reader>

@{
    ViewBag.Title = "Readers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>Sorry, you're just an online user, not a library reader. Please contact our staff to register as a reader. </p>



